body {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    min-height: 100vh;
    overflow: hidden;
}

.main {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 20px;
    padding: 0 10px;
}

header .menu-icon {
    display: none;
    position: absolute;
    left: 20px;
    z-index: 10;
}

header .ham {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ham::before,
.ham::after {
    content: "";
    width: 30px;
    height: 3px;
    background-color: #fff;
    display: block;
}

header .logo {
    width: 200px;
}

header .logo img {
    width: 100%;
}

nav {
    flex: 1;
}

nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.phone1 {
    width: auto;
    position: relative;
    margin-right: -50px;
    margin-bottom: 10px;
    z-index: 2;
}

.phone2 {
    width: auto;
    position: relative;
    z-index: 1;
}


/* Menu Mobile */
@media (max-width: 700px) {
    header .menu-icon {
        display: block;
    }
    
    header .logo {
margin-left: 220px;
    }

    nav {
        display: none;
    }

    nav.active {
        display: flex;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #000000a4;
        clip-path: circle(100px at 90% -15%);
        transition: clip-path 0.5s ease-in-out;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        pointer-events: auto;
        z-index: 9;
    }

    .nav-list.open {
        clip-path: circle(1500px at 90% -15%);
    }
}

/* Seção Principal */
.container {
    display: flex;
    gap: 20px;
}

.content-area {
    flex: 1;
}

.content-area h1 {
    font-size: 3rem;
    margin-top: 50px;
}

.content-area p {
    font-size: 1rem;
}

.content-area .cta {
    display: flex;
    margin-top: 40px;
    gap: 10px;
}

.cta .button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: #29be56;
    color: #FFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta .button-blue {
    background-color: #3498DB;
}

.phone-area {
    text-align: center;
    margin-top: 30px;
}

.phone-area .phone1,
.phone-area .phone2 {
    height: 450px;
    width: auto;
}

/* Responsividade (850px) */
@media (max-width: 850px) {
    .container {
        flex-direction: column;
    }

    .content-area {
        text-align: center;
    }

    .content-area h1 {
        font-size: 2.5rem;
        margin-top: 20px;
    }

    .content-area .cta {
        justify-content: center;
    }

    .phone-area .phone1,
    .phone-area .phone2 {
        height: 400px;
        margin: 0 auto;
    }
}
